.pesquisa {
    display: none;
}

.color {
    width: 100%;
    padding: 0 2px;
    border: solid 1px var(--branco); 
}

@media (min-width: 768px) {
    .pesquisa {
        display: block;
        width: 431px;
        height: 54px;
        padding: 0 1em;
    }
}

@media (min-width: 1024px) {
    .pesquisa {
        width: 100%;
        max-width: 752px;
    }

}