.pesquisa {
    display: none;
}

.color {
    width: 100%;
    padding: 2px 6px;
    border: solid 1px var(--branco);
    background-color: var(--Blue-dark);
}

@media (min-width: 768px) {
    .pesquisa {
        margin: 0;
        display: block;
        width: 431px;
        height: 54px;
        padding: 0 1em;
    }
}

@media (min-width: 1024px) {
    .pesquisa {
        width: 100%;
        max-width: 752px;
    }

}