.btn{
    color: var(--Blue-dark);
    background-color: var(--Blue-300);
}
.btn:hover{
    background-color: var(--Blue-200);
    border: solid 4px var(--Blue-300)
}

.btn:focus{
    background-color: var(--Blue-100);
}
