.btn {
    margin: 2.5em 0;
    color: var(--Blue-dark);
    background-color: var(--Blue-300);
    cursor: pointer;
    transition: 800ms;
}

.btn_hover:hover {
    background-color: var(--Blue-200);
}

.btn_hover:focus {
    animation: deslizar 200ms;
    width: 50%;
}

.btn_hover:active {
    background-color: var(--Blue-200);
    border: 4px solid var(--Blue-300);
}

@keyframes deslizar {
    from {
        width: 100%;
    }

    to {
        width: 50%;
        background-color: var(--Blue-300);
    }
}

@media (min-width: 768px) {
    @keyframes deslizar {
        from {
            width: 100%;
        }

        to {
            width: 20%;
        }
    }
}

@media (min-width: 1024px) {
    @keyframes deslizar {
        from {
            width: 100%;
        }

        to {
            width: 50%;
        }
    }
}