.cabecalho {
    padding: 1em;
    display: flex;
    justify-content: space-around;
    gap: 2em;
    margin-bottom: 2em;
}

.cabecalho .container {
    display: flex;
    align-items: center;
    gap: .8em;
}

.cabecalho .logo {
    align-self: center;
}

.perfil {
    display: none;
}

@media (min-width: 768px) {

    .cabecalho {
        padding: 2em;
        margin-bottom: 0;
    }

    .cabecalho .container {
        gap: 2em;
    }
}

@media (min-width: 1024px) {
    .menu_hamburguer {
        display: none;
    }

    .cabecalho {
        justify-content: space-between;
        width: auto;
        align-items: center;
    }

    .perfil {
        display: flex;
        padding: .5em;
        height: 35px;
        align-items: center;
        gap: .5em;
        border-radius: 8px;
        transition: 550ms;
    }

    .perfil:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    p {
        display: block;
        color: var(--branco);
    }

    .cabecalho .container {
        width: 60%;
        max-width: 752px;
        margin-right: 6em;
    }

    .cabecalho .logo {
        width: 145px;
    }

}