.cabecalho {
    padding: 1em;
    display: flex;
    justify-content: space-around;
    gap: 2em;
}

.cabecalho .container {
    display: flex;
    align-items: center;
    gap: .8em;
}

.perfil {
    display: none;
}

.cabecalho .logo {
    align-self: center;
}

@media (min-width: 768px) {
    .cabecalho {
        padding: 2em;
    }

    .cabecalho .container {
        gap: 2em;
    }
}

@media (min-width: 1024px) {

    .cabecalho {
        justify-content: space-between;
        width: auto;
    }

    .perfil {
        width: 145px;
        display: flex;
        align-items: center;
        gap: 1em;
    }

    p {
        display: block;
        color: var(--branco);
    }

    .cabecalho .container {
        width: 54%;
        max-width: 752px;
    }

    .cabecalho .logo {
        width: 145px;
    }

}