.container_principal {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container_principal .border {
    width: 95%;
    position: relative;
    height: 492px;
    display: flex;
    justify-content: center;
    background-color: var(--blue-light);
    border-radius: 8px;
}

/* .container_principal .border pre{
    border-radius: 8px;
    width: 100%;
    height: 75%;
    margin: 2em;
    background-color: var(--dark-gray);
    color: var(--branco);
    padding: 3em 1em 1em 1em;
    padding-top: 3em;
} */

.container_principal .border .container {
    position: absolute;
    left: 45px;
    top: 40px;
    display: flex;
    gap: .5em;
}

.container_principal .container .circulos {
    width: 12px;
    height: 12px;
    border-radius: 16px;
    background-color: #FF5F56;
}

.btn {
    margin-top: 2em;
    color: var(--branco);
    width: 95%;
    height: 56px;
    border: none;
    border-radius: 8px;
    background-color: rgba(80, 129, 251, 0.08);
    cursor: pointer;
}

/* .btn:hover{
    transform: ;
} */

@media (min-width: 768px) {
    .container_principal .border pre {
        height: 65%;
    }

    .container_principal .border {
        /* max-width: 704px; */
        height: 366px;
    }

    .btn {
        /* max-width: 704px; */
    }

    .container_principal .border textarea {
        height: 71%;
    }
}

@media (min-width: 1024px) {
    .container_principal {
        width: 70%;
    }

    .btn,
    .container_principal .border {
        width: 100%;
        max-width: 752px;
    }
}