.img {
    align-self: center;
}

.foto {
    display: none;
}

.postagem {
    border-radius: 55px;
}


@media (min-width: 768px) {
    .lupa {
        display: none;
    }
}

@media (min-width: 1024px) {

    .foto {
        display: block;
        border-radius: 55px;
    }
}