:root {
    --azul-span: #2d415b;
    --Blue-dark: #05233b;
    --blue-dark-fund: #051D3B;
    --blue-light: #6BD1FF;
    --Blue-300: #5081FB;
    --Blue-200: #7BA4FC;
    --Blue-100: #96B9FD;
    --purple: #5F75E2;
    --pink: #FF6BCD;
    --font: "Inter", sans-serif;
    --branco: #ffffff;
    --dark-gray: #141414;
}

a,
ul {
    list-style: none;
    text-decoration: none;
}

body {
    background-color: var(--blue-dark-fund);
    margin: 0;
    padding: 0;
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/* ediçao de  barra lateral usando cor de fundo e width 10px */
::-webkit-scrollbar {
    background-color: var(--Blue-dark);
    width: 10px;
}

/* Edição do thumb com bordas arredondada e cor span */
::-webkit-scrollbar-thumb {
    background-color: var(--azul-span);
    border-radius: 8px;
}

/* Inputs e btn dos formularios */
.input_padrao,
.btn_padrao {
    margin-top: 1em;
    display: block;
    height: 54px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--branco);
    border-radius: 8px;
    outline: none;
    padding: 0 1em;
}

/* placeholder dos inputs dos formularios*/
.input_padrao::placeholder {
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    font-size: 16px;
    font-family: var(--font);
    font-weight: 400;
}

/* hover mais claro dos formularios */
.input_padrao:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Container das postagem de codigo  */
.container_postagem {
    align-self: center;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: .4em;
    color: var(--branco);
}

/* Desiner do perfil */
.perfil {
    display: flex;
    padding: .5em;
    height: 35px;
    align-items: center;
    gap: .5em;
    border-radius: 8px;
    transition: 550ms;
}

/* Hover do perfil */
.perfil:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Span de notificações de formulario */
.no_code {
    font-size: 18px;
    font-weight: 400;
    color: #FF5F56;
    animation: pulsar 200ms;
}

@keyframes pulsar {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1.3);
    }
}

.hidden {
    display: none;
}

/* iframe redirecionamento do editor */
iframe#webpack-dev-server-client-overlay {
    display: none !important
}