:root {
	--Blue-dark: #051D3B;
	--blue-light: #6BD1FF;
	--Blue-300: #5081FB;
    --Blue-200: #7BA4FC;
    --Blue-100: #96B9FD;
	--purple: #5F75E2;
	--pink: #FF6BCD;
	--font: "Inter", sans-serif;
	--branco: #ffffff;
}

body {
	background-color: var(--Blue-dark);
	margin: 0;
	font-family: var(--font);
	font-size: 16px;
	font-weight: 400;
	width: 100vw;
}

/* Inputs dos formularios */
.input_padrao {
    margin-top: 1em;
    display: block;
    height: 54px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--branco);
    border-radius: 8px;
    outline: none;
    padding: 0 1em;
}
/* placeholder dos inputs*/
.input_padrao::placeholder {
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    font-size: 16px;
    font-family: var(--font);
    font-weight: 400;
}
/* hover mais claro dos formularios */
.input_padrao:hover{
    background-color: rgba(255, 255, 255, 0.3);
}