.editor {
    width: 100%;
    min-height: 360px;
    height: 75%;
    padding: 3em 1em 1em 1em;
    border-radius: 8px;
    margin: 2em;
    background-color: var(--dark-gray);
}

@media (min-width: 768px) {
    .editor {
        height: 65%;
    }

}